name: Build and Push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

    - name: Build Image
      run: docker build -t ${{ secrets.DOCKER_USER }}/ai-app:latest .

    - name: Push Image
      run: docker push ${{ secrets.DOCKER_USER }}/ai-app:latest
